body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: gray;
}
h2 {
  text-align: center;
  color: #343a40;
  margin-bottom: 24px;
  padding: 9px;
  width: 550px;
  margin: auto;
  border: 1px solid black;
  border-radius: 20px;
}
#contact-form {
  max-width: 500px;
  margin: auto;
  background: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 8px 15px 14px rgba(0, 0, 0, 0.1);
  background-color: #005dff;
  margin-top: 90px;
  margin-left: 648px;
}
img.info {
  position: absolute;
  top: 163px;
  left: 295px;
  width: 200px;
}
label {
  display: block;
  margin-bottom: 8px;
  font-weight: normal;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 2px solid #ced4da;
  border-radius: 4px;
  box-sizing: border-box;
  border-color: black;
}

button {
  background-color: #5cb85c;
  color: white;
  padding: 12px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
}

button:hover {
  background-color: green;
  color: rgb(188, 0, 0);
}

.output-message {
  margin-top: 20px;
  text-align: center;
  padding: 10px;
  border-radius: 4px;
}

.success {
  background-color: #d4edda;
  color: #155724;
}

.error {
  background-color: #f8d7da;
  color: #721c24;
}
span.color1 {
  color: red;
  position: absolute;
  top: 93px;
  left: 6px;
}
h1.welcome {
  font-size: 73px;
  position: absolute;
  top: 221px;
}
.spinner {
  border: 16px solid #f3f3f3;
  border-top: 16px solid red;
  border-right: 16px solid blue;
  border-bottom: 16px solid green;
  border-left: 16px solid orange;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 1s linear infinite;
  display: none;
  margin: 20px auto;
}
.nav-item:hover {
  color: red;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
